/* reset */

.mainPage section {
    padding: 60px 0;
}

/* Скинув відступи для секцій, щоб вони були ближчі одна до одної... */
section {
    padding: 0;
}

/* ...але додав відступ на мейн, щоб футер відсувався від мейну */
main {
    padding-bottom: 60px;
}

button{
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;

    background: transparent;

    /* inherit font & color from ancestor */
    color: #4154f1;
    font: inherit;

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;

    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;
}


/* Sticky footer */
html, body {
    height: 100%;
}

#__next{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 1 auto;
}
/* END OF Sticky footer */


/* ul,
ol {
    padding-left: 0;
    list-style: none;
} */


.text-justify {
    text-align: justify
}

.header .logo {
    line-height: 1;
}

.h10 {
    font-size: 1.1rem;
}
.h11 {
    font-size:0.9rem;
}

.text-left {
    text-align: left;
}

.contact .my-font-size .info-box p {
    font-size: 1rem;
}

.contact .my-font-size .info-box p i {
    font-size: 0.8rem;
    padding-right: 0.6rem;
}

.section-header p {
    font-size: 28px;
}


.features .feature-icons {
    margin-top: 20px;
}

.ei-logo {
    height: 120px;
}

.container .my-style {
    padding: 0;
}

th.counter-width {
    min-width: 40px;
}
.features .feature-icons .content .my-dstyle {
    display: block;
}

/* Media query */
/* 991 - 1199 */
@media screen and (min-width: 991px) and (max-width: 1199px) {
    .team .member .member-info {
        padding: 10px 2px 20px;
        text-align: left;
    }
}



/* ============================================== */
/* Responsive fix for the Next.js Image component */
/* ============================================== */
.image-container {
    width: 100%;
}

.image-container > div {
    position: unset !important;
}

.image-container .image {
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
}

.image-container .news-image {
    object-fit: contain;
    width: 40% !important;
    position: relative !important;
    height: unset !important;
}

.photo-archive-images{
    /* object-fit: contain; */
    object-fit: cover;
}

.new-image-container {
    width: 250px;
    height: 150px;
    cursor: pointer;
}

.flex-elements{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

/* ============================================== */
.image-fit{
    object-fit: cover;
}

/* ============================================== */

.my-personal {
    padding-top: 20px;
}

/* .features.my-personal blockquote{
    font-style:italic ;
} */

.features.my-personal blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 0px 0.5em;
    padding: 0.5em 10px;
    quotes: "\201C" "\201D" "\2018" "\2019";
    font-size: 15px;
    color: #848484;
}

.features.my-personal blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

.features.guaranors{
    padding: 0;
}



/* NEWS */
.member.news {
    display: flex;
    gap: .5rem;
}

.member.news .position-relative{
    width: 40%;
}

.member-info.news{
    display: flex;
    flex-direction: column;
    width: 58%;
}

.team .member .member-info {
    text-align: center;
    font-style: normal;
}

.team .member .member-info.news {
    text-align: left;
}

.team .member .member-info.news p {
    padding: 0;
    margin: 0;
    line-height: 1.4;
    font-style: normal;
}

.member .member-info.news p.publishDate {
    margin-bottom: 6px;
}

/* BREADCRUMBS */
.breadcrumbs {
    min-height: 0;
    margin-top: 102px;
}
@media (max-width: 1366px) {
    .breadcrumbs {
        margin-top: 66px;
    }
}

.breadcrumbs ol{
    padding: 0;
}

.features.my-personal figure {
    display: flex;
    justify-content: center;
}


/* NAVBAR */
.navbar{
    justify-content: center;
}

.navbar a,
.navbar a:focus {
    padding: 10px 15px 10px 5px;
    font-size: 14px;
    letter-spacing: -.02em;
    font-weight: 700;
}

/* На випадок, якщо меню все ж буде зменшене */
.navbar-mobile ul {
    padding-left: 20px;
}

/* @media (max-width: 1399px) {
    .navbar a,
    .navbar a:focus {
        padding: 10px 15px 10px 0;
        font-weight: 500;
    }
} */

/* mobile menu appearing width */
@media (max-width: 1399px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }

  .navbar-mobile ul {
    display: block;
  }
}


/* ---------------------- */


header .container-fluid.container-xl {
    display: flex;
    flex-direction: column;
}

@media (max-width: 1399px) {
    header .container-fluid.container-xl {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

.form-group{
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

/* ------------------------ */
.header.header-scrolled {
    padding: 15px 0 0 0;
}


.features .feature-icons .content .icon-box p {
    font-size: 16px;
    color: #444444;
}

/*  */
hr {
    margin: .3rem 0;
}

.team .member .member-info {
    padding: 10px 15px 10px 15px;
}


/* ----------------------------------- */
.values{
    padding: 30px 0;
}

.header-publication{
    padding: 0;
    text-transform: uppercase;
}

.publication-section{
    margin: 40px 0 0;
}

.publication-section::after{
    content: '';
    background-color: #012970 ;
    height: 1px;
    opacity: .3;
    display: block;
}

.publication-title{
    padding-bottom: 15px;
}

.hr-line{
    margin-bottom: 40px;
}

/* ----------------------------------- */
/* TABLE */
.centered {
    margin: 0 auto;
    width: fit-content;
    text-align: center;
}
.centered th,
.centered td {
    padding: 0.2rem 2rem;
}
/* ----------------------------------- */

.myPT-0{
    padding-top: 0;
}


.my50pс{
    width: 45%;
    margin: 5px;
}

/* EDIT FEATURES FETURES TABS SECTIONs */
.feture-tabs{
    margin-top: 20px;
    margin-bottom: 60px;
}

.features .feture-tabs {
    margin-top: 0px;
}

.smallPortableText{
    padding: 15px 0;
}

.team .member .member-info .smallPortableText > p{
    padding: 0;
    margin: 0;
    font-size: 12px;
    line-height: 1.4;
}


.ukr-heros {
    display: flex;
    align-items: center;
    gap: 12px;
    background: #4154f1;
    padding: 8px 20px;
    border-radius: 4px;

    font-family: "Nunito", sans-serif;
    font-size: 14px;
    letter-spacing: .04em;
    color: #fff;
}

ul .ukr-heros-mobile{
    display: none;
}

@media (max-width: 1366px) {
    ul .ukr-heros-mobile{
        display: flex;
        justify-content: center;
        gap: 12px;
        margin: 0 auto;
        max-width: 300px;
        background: #4154f1;
        padding: 8px 20px;
        border-radius: 4px;

        font-family: "Nunito", sans-serif;
        font-size: 14px;
        letter-spacing: .04em;
        color: #fff;
    }

    ul .ukr-heros-mobile:hover {
        background: #5969f3;
        color: #fff;
    }
}

.ukr-heros:hover {
    background: #5969f3;
    color: #fff;
}

.flag {
    filter: drop-shadow(0 -1mm 4mm rgb(255, 255, 255));
}


@media (max-width: 1366px) {
    .ukr-heros {
        display: none;
    }
}


/* staffItem */
.staffItem ul li p {
    margin: 0;
}

.staffItem ul .listGap {
    margin-bottom: 1rem;;
}

.staffItem h5 {
    font-size: 20px;
    font-weight: 700;
    margin: 0 0 10px 0;
    color: #012970;
}